.blog{
    width: 1200px;
    margin: 50px auto;
}
.text-project {
    text-align: center;
}
.box-blog {
    display: flex;
    flex-wrap: wrap;
    margin-left: 120px;
    justify-content: start;
}
.box-blog1 {
    width: 280px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(7, 7, 7);
}
.image {
    width: 100%;
    border-radius: 5px;
}
.box {
    display: flex;
}
.box-date {
    display: flex;
}
.box-date1 {
    flex: 50%;
}
.box-date2 {
    flex: 50%;
    margin-left: 10px;
}
.checkbox {
    display: flex;
    justify-content: space-between;
    margin: 20px -15px;
    gap: 15px;
    flex-wrap: wrap;
    width: 70%;

}

.checkbox div {
    display: flex;
    width: 45%;
}



.checkbox label {

    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 200px;
}
.button-group .button-edit{

    font-size: 17px;
    border-radius: 8px;
    border: none;
    color: rgb(247, 244, 244);
    cursor: pointer;
    border: none;
}
.button-group .button-delete {
    
  
    font-size: 17px;
    border-radius: 8px;
    border: none;
    color: rgb(247, 244, 244);
    cursor: pointer;
}

}
.input-blog-image {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    background:  #f4f3f3;
    border: 1px solid #0a0a0a;
    border-radius: 8px;
    cursor: pointer;
}
.input-blog-image label p {
    font-size: 15px;
}
.input-blog-image label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}